; Add the `WeirdEd` top-level menu to the end of your `menu_edit...` sections
; in menu.cfg, something like this:
;
; Before:  menu_edit_3 &Textures:menu_textures | E&AX:menu_eax
;
; After:   menu_edit_3 &Textures:menu_textures | E&AX:menu_eax | &WeirdEd:menu_weirded
;
; Then, copy and paste all the following lines to the end of your menu.cfg:

;WeirdEd
menu_weirded   &Select:menu_edselect
menu_weirded_1 &Cable:menu_edcable

menu_edselect   &Cursor:find_obj EdCursor|Marker &1:find_obj EdMarker1|Marker &2:find_obj EdMarker2|sep
menu_edselect_1 Cable &Run:run_cmd_script editor/cmds/cable_multibrush.cmd

menu_edcable   &Start cable:run_cmd_script editor/cmds/cable_start.cmd|Resume selected cable:run_cmd_script editor/cmds/cable_resume.cmd
menu_edcable_1 sep|&Make cable segment (G):run_cmd_script editor/cmds/go.cmd|&Redo last (Shift+G):run_cmd_script editor/cmds/goagain.cmd
menu_edcable_2 Swap active &end:run_cmd_script editor/cmds/cable_swap_ends.cmd|&Finish cable (Ctrl+G):run_cmd_script editor/cmds/stop.cmd
menu_edcable_3 sep|Set width &1 (0.0625):set ed_cable_width 1|Set width &2 (0.125):set ed_cable_width 2
menu_edcable_4 Set width &3 (0.25):set ed_cable_width 3|Set width &4 (0.5):set ed_cable_width 4|Set width &5 (1.0):set ed_cable_width 5
